@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Dosis:wght@200..800&family=Edu+NSW+ACT+Cursive:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* margin: auto; */
  /* max-width: 1100px; */
}
.menubar {
  display: none;
}

.headerShadow {
  box-shadow: 0 0 10px lightgray;
  display: grid;
  grid-template-columns: 0.6fr 3.2fr 0.4fr;
  align-items: center;
  justify-content: center;
  z-index: 1100;
}
.sticky-nav {
  z-index: 1100;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  /* padding: 20px; */
}
a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

header a:hover,
header a.active {
  color: teal;
  border-bottom: 2px solid teal;
}

.container {
  margin: 0 2rem 2rem;
  text-align: center;
  padding: 10px;
  transition: transform 0.5s;
}
.container2 {
  text-align: center;
  margin: 2rem;
}
.pageContent {
  margin: 4rem 1rem 1rem;
}
.icon-cart {
  font-size: 22px;
}
.ri-shopping-cart-2-line {
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.ri-shopping-cart-2-line:hover {
  color: teal;
}
.ri-shopping-cart-2-line span {
  font-size: 11px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  top: 10px;
  left: 10px;
  color: white;
  font-family: "Poppins";
  font-weight: 400;
}
.ri-shopping-cart-2-line span:hover {
  background-color: teal;
}
.listProduct .item img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* filter: drop-shadow(0 50px 20px black); */
} 
.listProduct {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 4fr));
  gap: 40px;
}
.listProduct .item {
  /* background-color: #eeeee6; */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}
.listProduct .item h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.listProduct .item .price {
  letter-spacing: 3px;
  font-size: small;
}
.listProduct .item button {
  background-color: inherit;
  border: 1px solid black;
  color: black;
  opacity: 0.8;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.listProduct .item button:hover {
  background-color: teal;
  color: white;
  text-shadow: 0 0 7px black;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1101;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.cartTab {
  width: 350px;
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  box-shadow: 0 0 10px gray;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.5s;
  z-index: 1102;
}
.cartTab.active {
  right: 0;
}

.cartTab h2 {
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 0.001px solid lightgray;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
.cartTab .btn button {
  background-color: red;
  opacity: 0.7;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  cursor: pointer;
  color: white;
  padding: 5px 0;
}
.cartTab .btn .checkOut {
  background-color: teal;
  opacity: 0.8;
}
.cartTab .btn .close:hover {
  opacity: 1;
}
.cartTab .btn .checkOut:hover {
  opacity: 1;
}

.cartTab .listCart .item img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  padding: 2px;
}
.cartTab .listCart .item {
  display: grid;
  /* grid-template-columns: 55px 1fr 55px 45px 20px; */
  grid-template-columns: 1.3fr 4fr 0.5fr 1.5fr 0.3fr;
  gap: 5px;
  text-align: left;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px;
}
.cartTab i {
  cursor: pointer;
  color: gray;
}
.cartTab i:hover {
  color: black;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px; 
  height: 25px;
  background-color: #a47474;
  border-radius: 50px;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
}
.listCart .item:nth-child(even) {
  /* background-color: rgb(203, 245, 245); */
  background-color: #eee;
}
.listCart {
  overflow: auto; 
}
.listCart input {
  border: 0.002px solid lightgray;
}

/* sideNav section start here  */
.overlay2 {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1100;
}
.overlay2.active {
  opacity: 1;
  visibility: visible;
}

.menubar {
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}
.menubar:hover {
  color: teal;
}

#mySidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -100%;
  top: 0;
  width: 250px;
  height: 100vh;
  background: #252525;
  overflow-x: hidden;
  transition: 0.4s ease;
  padding: 40px 10px 10px;
  z-index: 1101;
  color: white;
  font-size: 14px;
  transition: 0.4s;
}
#mySidenav.active {
  left: 0;
}

.sidenav > a {
  color: white;
  display: block;
  padding: 10px;
}
.sidenav > a:hover {
  background-color: turquoise;
  color: black;
}
.close-sidenav {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 13px;
  right: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}
.close-sidenav:hover {
  color: red;
}

/* accordion section start here ============= */
.category-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  font-family: Arial, sans-serif;
}
.category-accordion a {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 0.001px solid #454444;
}
.category-accordion a:hover {
  background-color: teal;
}

.accordion-toggle {
  background: inherit;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2px;
  transition: background 0.3s ease;
  border-bottom: 0.001px solid #454444;
}

.accordion-toggle:hover {
  background-color: teal;
}

.accordion-panel {
  max-height: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 13px;
  transition: max-height 0.3s ease;
}
 
.accordion-panel a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
  border-bottom: 0.1px solid #252525;
}

.accordion-panel a:hover {
  color: white;
}

.accordion-toggle:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion-toggle.active:after {
      content: '\2212'; /* − */
    }

/* accordion section end here ============== */


    /*=======Slide Show/ Banner section start here ========== */
 
  .slideshow-container {
    top: 4rem;
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    cursor: pointer;
  }

  .slide img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    background-position: center;
  }

/* Active Slide */
  .active {
    opacity: 1;
  }

/* Dot Indicators */
  .dots-container {
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: gray;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .dot.active {
    background-color: white;
  }
/* =======Slide Show/Banner section end here========= */

  /* Main link start here  */
  .mainLink {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 6.5rem auto 0;
    max-width: 800px;
    text-shadow: 0 0 4px black;
  }
  .babyLink {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(image/baby/baby-shirt9.jpg);
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: stretch;
    aspect-ratio: 1/1;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    transition: 0.3s ease-in-out;
    border: 0.1px solid lightgray;
  }
  .womenLink {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(image/baby/baby-shirt18.jpg);
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    transition: 0.3s ease-in-out;
    border: 0.1px solid lightgray;
  }
  .menLink {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(image/men/Screenshot_1.jpg);
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    transition: 0.3s ease-in-out;
    border: 0.1px solid lightgray;
  }
  .babyLink:hover,
  .womenLink:hover,
  .menLink:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  .mainLink .babyLink > span,
  .mainLink .womenLink > span,
  .mainLink .menLink > span {
    position: relative;
    bottom: -85%;
    color: white;
    font-size: clamp(0.6rem, calc(1vw + .1rem), 1.2rem);
    font-weight: 400;
  }
  /* Main Link end here  */

  .showMoreBtn {
    background-color: teal;
    opacity: 0.8;
    border: none;
    outline: none;
    color: white;
    padding: 7px 18px;
    border-radius: 5px;
    margin: 2rem auto 0;
    text-shadow: 0 0 5px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .showMoreBtn:hover {
    opacity: 1;
  }
  /* leaflets start here  */
  .leaflets {
    margin: 2.5rem;
    opacity: 0;
    transform: scale(0.4);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  .leaflets.visible {   /* JS code to work */
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.4); }
    to { opacity: 1; transform: scale(1); }
  } 

  .leaflet {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #ededed;
  }
  .leaflet > img {
    width: 100%;
    display: block;
    aspect-ratio: 1/1;

  }
  .leaflet > p {
    text-align: justify;
    padding: 2rem;
    font-size:  clamp(0.5rem, calc(1.1vw + .1rem), 1.3rem);
  }
  /* leaflets end here  */

@media (300px <= width <=968px) {
  .menubar {
    display: block;
  }
  .mainLink {
    margin: 4.5rem 1rem 0;
    gap: 1rem;
  }
  .mainLink .babyLink > span,
  .mainLink .womenLink > span,
  .mainLink .menLink > span {
    bottom: -70%;
  }

  .slideshow-container {
    top: 3rem;
    height: 30dvh;
  }
  .dots-container {
    bottom: 17%;
  }
 
  .headerShadow {
    display: grid;
    grid-template-columns: 0.4fr 3fr 0.7fr;
    justify-content: space-between;
    height: 3.5rem;
    /* width: 100%; */
    padding: 0 1.3rem;
  }
  header {
    display: none;
  }
  
 /* main content mobile view */
  .container {
    margin: 0 1rem 1rem;
  }
 .container2 {
  margin: 3rem 1rem 1rem;
 }
  .listProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 4.5rem 0 1rem;
  }
   .sidebar {
    display: none;
  }
  .pageContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 2.8rem 1rem 1rem;
  }
  .leaflets {
    margin: 1rem;
  }
  .leaflet {
    display: grid;
    grid-template-columns: 1fr;
  }
  .leaflet2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .leaflet > p {
    padding: 0.5rem;
  }
  .leaflet > img {
    aspect-ratio: 16/9;
  }
}
